body {
    font-family: "Montserrat Medium";
    margin: 0;
    padding: 0;
    background-color: grey;
}

.Page2{
    text-align: center;
}
/* .container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.container .section{
    position: relative;
    width: 100%;
    height: 100%;
} */


#firstpart{
    /* background-color: #282828; */
    /* width: 100%;
    height: 100vh; */
    /* margin: 0px;
    margin-top: 50vh;
    transform: translateY(-50%); */
    position: relative;
    z-index: 1;
}

.forVideo {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.forVideo::before {
    position:absolute;
    content :"";
    height: 100%;
    width: 100%;
    z-index: -99;
    background-color: #000000b0;
}

.forVideo #testid {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    z-index: -100;
    transform: translate(-50%, -50%);
}

@media (min-aspect-ratio:16/9){
    .forVideo video{
        width:100%;
        height:auto;
    }
}
@media (max-aspect-ratio:16/9){
    .forVideo video{
        width:auto;
        height:100%;
    }
}



#bannertitle {
    background-color: #282828;
    margin: 0px;
    
}

.title {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #e1e1e1;
    font-weight: lighter;
}

#firstmaintitle{
    font-size: 80px;
    margin-bottom: -10px;
    margin-left: auto;
    margin-right: auto;
}

#firstsubtitle{
    font-size: 31px;
    margin-top: -25px;
    margin-left: auto;
    margin-right: auto;
}

#maintitle{
    font-size: 80px;
    margin-bottom: -10px;
}

#subtitle{
    font-size: 31px;
    margin-top: -25px;
}

.Page2{
    font-size: 20px;
    height: 1200px;
}

.IO{
    padding-bottom: 380px;
}

.Fonctionnement{
    

}

#Texte{
    margin-block-start: -18px;
}

#POST-text{
    margin-block-end: 15px;
}

.Fonc{
    margin-top: 100px;
    margin-bottom: 100px;

}

.ProposText{
    display: flex;
    align-items: flex-end;
    color: red;
}

.Propos{
    

}